body {
  background-color: #49a694;
  font-family: "Roboto", sans-serif !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.trendContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background-color: #ac2b62;
  border-color: #ac2b62;
}
